<header class="post_top">
<%="投稿ページ"%>
</header>

<div class="video-title">タイトル
</div>

<div class="movie">動画投稿
</div>

<div class="expalanation">動画説明
</div>

<div class="video-category">カテゴリー
</div>

<div class="thumbnail">サムネイル
</div>

<div class="price">価格
</div>

<div class="post-btn-contents">
<%# <%= f.submit "投稿する" ,class:"post-btn" %> 
<%=link_to 'もどる', root_path, class:"back-btn" %>
</div>