.top {
  background-color: darkgrey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.title{
  font-size: 30px;
  align-items: flex-end;
}

.search{
  display: flex;
  margin: 10px 0px;
}

.form-input {
  background-color: white;
  width: 100%;
  padding-left: 10px;
}

.form-word {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #cbe1ee;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  padding: 0 20px;
}

.lists-right {
  display: flex;
  align-items: center;
}

.post{
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}