.top {
  background-color: darkgrey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.title{
  font-size: 30px;
  margin-right: 800px;
}

.lists-right {
  display: flex;
  align-items: center;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}